$borderColor: rgba(0, 0, 0, 0.651);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    background-color: rgb(200, 200, 200);
    position: relative
}
.wholeApp{
    position: absolute;
    left: 50vw;
    // top: 50vh;
    transform: translateX(-50%);
    background-color: white;
    padding: 40px; 
}

section{
    margin-top: 20px;
    .sub-section{
    margin: 5px 0;
    border-top: 2px black solid;
    padding-top: 10px;   }
}



.side2side{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 2px;
    box-shadow:0 .6px 2px $borderColor ;
    padding:10px 10px;

    > div{
        text-align: center;
        font-weight: bold;
        padding:10px 10px
    }

    .income-div{
        p{color: green;}
    }
    .expense-div{
        border-left: 2px $borderColor solid;
        p{ color: rgb(199, 6, 6); font-weight: bold}}
    }



.history-pieces{
    margin: 10px 0;
    li{
        margin: 10px 0;
        display: grid;
        grid-template-columns:2fr 1fr;
        grid-column-gap: 5px;
        padding: 10px;
        box-shadow:0 .6px 2px $borderColor;
        button{display: none; border: none; background: none; color: red; font-weight: bold}
        &:hover{
            transform: display 2s;
            grid-template-columns: .2fr 2fr 1fr;
            background-color: rgba(48, 4, 90, 0.102);
            button{display: block}
        }
        .amount{text-align: end}
    }
}

.input-div{

    label{margin: 20px 0; padding: 10px 0 }
    .input{
        width: 100%; 
        padding: 5px;
        height: 3em;
        border: 3px $borderColor solid;
        border-radius: 5px;
        margin: 5px 0
    }
}

.add_button{
    width: 100%;
    background-color: rgba(48, 4, 90, 0.767);
    border: none;
    color: white;
    font-size: 15px;
    // font-weight: bold;
    margin: 10px 0;border-radius: 5px;
    padding: 10px;
}